.Spacing
{
    margin-bottom: 3px;
}
.ImageArea
{
    margin-top: 45px;
    position: absolute;
}

.TextArea
{
    width: 80%;
    margin-left: 20px;
    position: absolute;
    margin-left: 220px;
}

.WhiteHighlight
{
    background-color: white;
}
.DarkGrayHighlight
{
    background-color: #bab6b6;
}

.ShowReviewsButton
{
    margin-top: 380px;
    width: 100%;
    background-color: #233ecf;
    color: white;
    border: none;
    height: 25px;
}

