.container
{
    background-color:#d9d9d9;
    height: 500px;
}
.centerAlign
{
    width: 95%;
    margin: 0 auto;
}

.spacing
{
    margin-bottom: 3px;
}
.imageArea
{
    margin-top: 45px;
    position: absolute;
}

.textArea
{
    width: 80%;
    margin-left: 20px;
    position: absolute;
    margin-left: 220px;
}
.title
{
    font-weight: bold;
    font-size: 18px;
}

.linkStyling
{
    text-decoration:  none;
    color: blue;
}

.highlightWhite
{
    background-color: white;
}
.highlightDarkGray
{
    background-color: #bab6b6;
}

.showReviewsButton
{
    margin-top: 380px;
    width: 100%;
    background-color: #233ecf;
    color: white;
    border: none;
    height: 25px;
}

