.container
{
    background-color: #54BAF5;
    min-height: 100px;
    overflow: hidden;
}

.labelAllMovies
{
    text-align: center;
}
.labelMoviesCount
{
    margin-left: 5px;
}

.nextPrevButtonDiv
{
    text-align: center;
    word-spacing: 100px;
}
.nextPrevButtonDiv button,span{
    margin-right: 10px;
}
