.container
{
    background-color: #016bad;
    height: 40px;
    color: white;
    padding-top: 10px;
}
.centerAlign
{
    width: 95%;
    margin: 0 auto;
}
.linkFormatting
{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}
.linkFormatting:hover {
    text-decoration: underline;
    color: aquamarine;
}
.linkFormatting:focus {
    color: yellowgreen;
}
.spaceBetweenIcons
{
    margin-left: 100px;
}
